.noteRow {
    width: 500px;
    height: 40px;
    background: lightgray;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    padding: 4px;
    border: 5px solid transparent;
}

.current {
    border: 5px solid green;
}
